OAUTH_TOKEN_URL=https://aliancacvtest.rtcom.pt/anywhere/oauth/token
CLIENT_ID=ALIANCA_WEBSITE
CLIENT_SECRET=TQzQzxvlKSZCzTAVjc2iP6CX
NEXTAUTH_SECRET=750750034af4bf01e8cd6e1503baaf1b38abdaf1565b3f86e0f7018dade28c47
NEXT_PUBLIC_BASE_IMAGE_URL=http://10.86.13.50:1337
REACT_APP_BASE_IMAGE_URL=http://10.86.13.50:1337

NEXT_PUBLIC_API_BASE_URL=https://api.aliancaseguros.cv/middleware/1.0.0
NEXT_PUBLIC_API_BASE_URL_DEFAULT=https://api.aliancaseguros.cv
NEXT_PUBLIC_API_BASE_URL_IMAGE=https://api.aliancaseguros.cv/files/1.0.0/download
API_SECRET_TOKEN=3eb96e29-664b-4bb6-8813-bb7549fcee19
NEXT_PUBLIC_API_KEY=eyJ4NXQjUzI1NiI6Ik1XVXhZbU5rWldJd1lUUTJORGN5TVRVd1l6VTFOVFF5WVRsall6QXlaak01TkRneFpUVmtaREZsTm1WaE5Ea3pZemd5WWpBeU0yTmlaVEF6WWpRMFl3PT0iLCJraWQiOiJnYXRld2F5X2NlcnRpZmljYXRlX2FsaWFzIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYifQ==.eyJzdWIiOiJhbGlhbmNhX2FkbWluQGNhcmJvbi5zdXBlciIsImFwcGxpY2F0aW9uIjp7ImlkIjozLCJ1dWlkIjoiZTQyYzI2MWItZDcyZi00Yjg3LWI4ZWEtOGIwMWQxMjAxOGViIn0sImlzcyI6Imh0dHBzOlwvXC8xMC44Ni4xNC4xMjo5NDQzXC9vYXV0aDJcL3Rva2VuIiwia2V5dHlwZSI6IlNBTkRCT1giLCJwZXJtaXR0ZWRSZWZlcmVyIjoiIiwidG9rZW5fdHlwZSI6ImFwaUtleSIsInBlcm1pdHRlZElQIjoiIiwiaWF0IjoxNzU4MTA0OTkzLCJqdGkiOiI4NmI2MzkyYi00ZGViLTQzNDItYmU2Yi0yNmE4NWEyZGVlMzMifQ==.gWDLnZFTWXmDYaG0ZaVpWoMyw-tPfU-zns675YqmY1rbctq6QHzM16nXmxijzv1Dbk4SuzSNTpJ45_FyWY8HjEW5bcLJNrWf8_VHENjW_CEyLYa_tY0Imazo4KUmwI8QL1xFxY6kroHWj9kD0YQZxAquTDSt59JlZtsTdbETJSSBLE3IE-EYwsibdWHBXTTtbcTNQ2Fa3m0cBY0CVGneQ5O0zyJuwSutu4SeQySDAvXuP-10oN_zZb5i2jwx6kmTdFhUb5Dpgmq0-HtShoqiKf-iiFY2BmfqK8pQLdraGvib43ImR3kKExfZt1wB404ItUcBl_KlGnHUe5fkwy_ClA==

NEXT_PUBLIC_API_BASE_URL_SIMULATOR=https://api.aliancaseguros.cv

NEXT_PUBLIC_REVALIDATION_TIME=60