OAUTH_TOKEN_URL=https://aliancacvtest.rtcom.pt/anywhere/oauth/token
CLIENT_ID=ALIANCA_WEBSITE
CLIENT_SECRET=TQzQzxvlKSZCzTAVjc2iP6CX
NEXTAUTH_SECRET=750750034af4bf01e8cd6e1503baaf1b38abdaf1565b3f86e0f7018dade28c47
NEXT_PUBLIC_BASE_IMAGE_URL=http://10.86.13.50:1337
REACT_APP_BASE_IMAGE_URL=http://10.86.13.50:1337